div{background-color: #5c5b6b;
border:7px;
}
a{text-decoration: none;
    color: #ebe8e1;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
}
ul {float:right;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #9b949c;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 150px;
  display: none;
}
ul li ul li { 
  background: #9b949c; 
  display: block;
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #5c5b6b;}
img{float: left;
    
}